<a href="https://colab.research.google.com/github/ShrisiYadav/Python-programming/blob/main/PATTERNS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
num1= int(input("enter first number:"))
num2= int(input("enter second number:"))
def add():
  print("addition",num1+num2)
add()

enter first number:20
enter second number:20
addition 40

In [4]:
for i in range(5):
  print("*")

*
*
*
*
*

In [11]:
for i in range(5):
  print("*" *5)

*****
*****
*****
*****
*****

In [12]:
for i in range(1,6):
  print("*" *i)

*
**
***
****
*****

In [13]:
for i in range(5,0,-1):
  print("*" *i)

*****
****
***
**
*

In [16]:
n=5
for i in range(1,n+1):
  print(" "* (n-i), end="")
  print("*" *i)

    *
   **
  ***
 ****
*****

In [21]:
n=5
for i in range(5,0,-1):
  print(" " *(n-i), end="")
  print("*" *i)

TypeError: Value after * must be an iterable, not int

In [28]:


for i in range (1,n+1):
  for j in range (i):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
n=int(input("Enter value:"))

for i in range(1):
  for j in range(1,n+1):
    if (i==1 or j==1 or i==n or j==n):
      print("*",end="")
    else:
      print()